.mainWrapper {
  display: flex;
  margin: 15px 12px;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .mainWrapper {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .mainWrapper {
    flex-direction: row;
  }
}
